openapi: 3.1.0
info:
  title: Jules API
  version: v1alpha
  description: The Jules API lets you programmatically access Jules's capabilities to automate and enhance your software development lifecycle.
servers:
  - url: https://jules.googleapis.com
tags:
  - name: sessions
    description: Manage sessions
  - name: activities
    description: Manage activities
  - name: sources
    description: Manage sources
x-trikeshed-context:
  client:
    - name: htx
      key: borg.trikeshed.htx.client.HtxKey
      element: borg.trikeshed.htx.client.HtxElementCompat
      open: borg.trikeshed.htx.client.openHtxElement
paths:
  /v1alpha/sessions:
    post:
      tags:
        - sessions
      operationId: createSession
      summary: Creates a new session.
      x-trikeshed-supervisor: true
      responses:
        '200':
          description: A successful response containing the created session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
    get:
      tags:
        - sessions
      operationId: listSessions
      summary: Lists all sessions.
      x-trikeshed-supervisor: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session'
  /v1alpha/{name}:
    get:
      tags:
        - sessions
      operationId: getSession
      summary: Gets a single session.
      x-trikeshed-supervisor: true
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
  /v1alpha/{session}:approvePlan:
    post:
      tags:
        - sessions
      operationId: approvePlan
      summary: Approves a plan in a session.
      x-trikeshed-supervisor: true
      parameters:
        - name: session
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Plan approved successfully.
          content:
            application/json:
              schema:
                type: object
  /v1alpha/{session}:sendMessage:
    post:
      tags:
        - sessions
      operationId: sendMessage
      summary: Sends a message from the user to a session.
      x-trikeshed-supervisor: true
      parameters:
        - name: session
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Message sent successfully.
          content:
            application/json:
              schema:
                type: object
  /v1alpha/{parent}/activities:
    get:
      tags:
        - activities
      operationId: listActivities
      summary: Lists activities for a session.
      x-trikeshed-supervisor: true
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  activities:
                    type: array
                    items:
                      type: object
  /v1alpha/sources:
    get:
      tags:
        - sources
      operationId: listSources
      summary: Lists sources.
      x-trikeshed-supervisor: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sources:
                    type: array
                    items:
                      type: object
components:
  schemas:
    Session:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        prompt:
          type: string
        title:
          type: string
        requirePlanApproval:
          type: boolean
        createTime:
          type: string
        updateTime:
          type: string
        url:
          type: string
