[submodule "libs/dreamer-kmm"]
	path = libs/dreamer-kmm
	url = https://github.com/jnorthrup/dreamer-kmm.git
[submodule "libs/kmp-ngsctp-upstream"]
	path = libs/kmp-ngsctp-upstream
	url = https://github.com/jnorthrup/KMPngSCTP.git
