gradle
.idea/
.gradle/
.kotlin/
build/
**/build/
tmp/
.vscode/
.aider*
.env
target/
**/target/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.hermes/
modelmux/
libs/keymux/
liburing/

.gradle 
.hermes 
.idea 
.kotlin 
.nojekyll 
.tspy 
.vscode
