openapi: 3.1.0
info:
  title: Kraken Embed API
  version: current
  description: Conservative OpenAPI 3.1 spec built from Kraken API Center Embed endpoint pages. This captures documented endpoint surfaces, summaries, and response descriptions from the live docs.
servers:
- url: https://nexus.kraken.com
  description: Kraken API host
tags:
- name: Custom Orders
  description: Custom Orders endpoints.
- name: Transfers
  description: Transfers endpoints.
- name: Users
  description: Users endpoints.
- name: Subaccounts
  description: Subaccounts endpoints.
- name: Webhooks
  description: Webhooks endpoints.
- name: Quotes
  description: Quotes endpoints.
- name: Assets
  description: Assets endpoints.
- name: Earn
  description: Earn endpoints.
- name: Portfolios
  description: Portfolios endpoints.
- name: Reports
  description: Reports endpoints.
- name: Verifications
  description: Verifications endpoints.
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: API-Key
    apiSignAuth:
      type: apiKey
      in: header
      name: API-Sign
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
    GenericArray:
      type: array
      items: {}
paths:
  /b2b/custom-orders/{id}/cancel:
    post:
      tags:
      - Custom Orders
      operationId: cancelEmbedCustomOrder
      summary: Cancel Custom Order
      description: Cancels a custom order that was previously submitted but not yet completed.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/cancel-embed-custom-order
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/custom-orders:
    post:
      tags:
      - Custom Orders
      operationId: createEmbedCustomOrder
      summary: Create Custom Order
      description: Submit a custom order with a specified trigger condition.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/create-embed-custom-order
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '422':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
    get:
      tags:
      - Custom Orders
      operationId: listEmbedCustomOrders
      summary: List Custom Orders
      description: Get a list of custom orders that were previously submitted.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-custom-orders
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/funds/deposits/addresses:
    post:
      tags:
      - Transfers
      operationId: createEmbedDepositAddress
      summary: Create Deposit Address
      description: Create a new deposit address for a given asset and method.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/create-embed-deposit-address
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '422':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
    get:
      tags:
      - Transfers
      operationId: listEmbedDepositAddresses
      summary: List Deposit Addresses
      description: List deposit addresses for a given asset and method. Returns paginated results with address details including fees and limits.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-deposit-addresses
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/users:
    post:
      tags:
      - Users
      operationId: createEmbedUser
      summary: Create User
      description: Create a new user in the Payward system.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/create-embed-user
      responses:
        '201':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/subaccounts:
    post:
      tags:
      - Subaccounts
      operationId: createHeadlessEmbedSubaccount
      summary: Create Headless Subaccount
      description: 'Create a new headless subaccount in the Payward system. A headless subaccount is a lightweight account that only requires an external ID mapping, without any user profile data (email, name, phone, etc.). This is useful for partners who manage user data entirely on their side. Note: The availability of this endpoint depends on your licensing agreement. Only partners with the relevant licenses in their operating jurisdiction can choose not to share KYC data with Payward. If you need to create a user with full profile data for KYC verification, use the Create User endpoint instead.'
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/create-headless-embed-subaccount
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/webhooks/{webhook_id}:
    delete:
      tags:
      - Webhooks
      operationId: deleteEmbedWebhook
      summary: Delete Webhook
      description: 'Delete a webhook configuration. This permanently removes the webhook and all its event subscriptions. No further events will be delivered to the webhook URL. Note: This action cannot be undone. If you want to temporarily stop receiving events, consider using the Update Webhook endpoint to disable the webhook instead.'
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/delete-embed-webhook
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
    patch:
      tags:
      - Webhooks
      operationId: updateEmbedWebhook
      summary: Update Webhook
      description: 'Update a webhook''s enabled status and/or event subscriptions. Use this endpoint to: Enable or disable a webhook without deleting it Update which events the webhook is subscribed to Disabled webhooks will not receive any events until re-enabled. Note: The webhook URL cannot be updated. To change the URL, delete the webhook and register a new one.'
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/update-embed-webhook
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/funds/withdrawals/addresses/{key}:
    delete:
      tags:
      - Transfers
      operationId: deleteEmbedWithdrawalAddress
      summary: Delete Withdrawal Address
      description: Delete a saved withdrawal address by key. Once deleted, the key cannot be used for new withdrawals until the address is saved again.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/delete-embed-withdrawal-address
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
    patch:
      tags:
      - Transfers
      operationId: updateEmbedWithdrawalAddress
      summary: Update Withdrawal Address
      description: Update a saved withdrawal address key. This endpoint renames an existing key; the withdrawal destination itself remains unchanged.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/update-embed-withdrawal-address
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /webhooks/payward/events:
    post:
      tags:
      - Webhooks
      operationId: embedWebhookEvents
      summary: Webhook Events
      description: "This endpoint should be implemented by the partner to receive real-time event notifications from Payward Embed. When specific events occur (such as a quote being executed), Payward sends a POST request to your configured webhook URL with event details. Security â\x80\x8B All webhook requests include an X-Signature header containing a timestamped HMAC-SHA256 signature. Partners should verify this signature to ensure the authenticity and integrity of the request. Signature Header Format â\x80\x8B The signature header follows the format: t={timestamp},v1={signature} Where: t - Unix timestamp (seconds) when the webhook was sent v1 - Hex-encoded HMAC-SHA256 signature Example header: X-Signature: t=1734567890,v1=5f2b3c4d1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d Signature Verification â\x80\x8B To verify the webhook signature: Extract the timestamp ( t ) and signature ( v1 ) from the X-Signature header Construct the signed payload by concatenating: {timestamp}.{raw_request_body}\
        \ Base64-decode your webhook secret (received when registering the webhook) Compute HMAC-SHA256 of the signed payload using the decoded secret Compare the computed signature (hex-encoded) with the v1 value from the header import crypto from 'crypto' ; interface ParsedSignature { timestamp : number ; signatures : string [ ] ; } // Parse the X-Signature header function parseSignatureHeader ( header : string ) : ParsedSignature | null { let timestamp : number | null = null ; const signatures : string [ ] = [ ] ; for ( const part of header . split ( ',' ) ) { if ( part . startsWith ( 't=' ) ) { timestamp = parseInt ( part . slice ( 2 ) , 10 ) ; } else if ( part . startsWith ( 'v1=' ) ) { signatures . push ( part . slice ( 3 ) ) ; } } if ( timestamp === null ) return null ; return { timestamp , signatures } ; } // Verify the webhook signature function verifyWebhookSignature ( signatureHeader : string , body : string , secretBase64 : string ) : boolean { const parsed = parseSignatureHeader\
        \ ( signatureHeader ) ; if ( ! parsed || parsed . signatures . length === 0 ) { return false ; } // Construct signed payload: {timestamp}.{body} const signedPayload = ` ${ parsed . timestamp } . ${ body } ` ; // Decode base64 secret const secretBytes = Buffer . from ( secretBase64 , 'base64' ) ; // Compute HMAC-SHA256 const computedSignature = crypto . createHmac ( 'sha256' , secretBytes ) . update ( signedPayload ) . digest ( 'hex' ) ; // Compare with provided signatures (constant-time comparison recommended) return parsed . signatures . some ( sig => crypto . timingSafeEqual ( Buffer . from ( computedSignature ) , Buffer . from ( sig ) ) ) ; } Timestamp Validation â\x80\x8B The timestamp in the signature header indicates when the webhook was sent. To prevent replay attacks, you should: Parse the timestamp from the X-Signature header Compare it against the current time Reject webhooks with timestamps older than your tolerance window (e.g., 5 minutes) function isTimestampValid (\
        \ timestamp : number , toleranceSeconds : number = 300 ) : boolean { const currentTime = Math . floor ( Date . now ( ) / 1000 ) ; return Math . abs ( currentTime - timestamp ) <= toleranceSeconds ; } Event Types â\x80\x8B Event Type Description custom_order.executed A custom order has been successfully executed custom_order.execution_failed A custom order execution has failed custom_order.cancelled A custom order was cancelled quote.executed A quote has been successfully executed quote.execution_failed A quote execution has failed quote.cancelled A quote was cancelled before execution deposit.status_updated The status of a deposit has been updated withdrawal.status_updated The status of a withdrawal has been updated user.verified A user has been verified and can now trade on the platform user.closed A user's account has been permanently closed user.disabled A user's account has been disabled (e.g., due to a trade lock or account suspension) reward.paid An Earn reward has been paid\
        \ to a user webhook.test A test event sent via the Test Webhook endpoint Headers â\x80\x8B All webhook requests include these headers: Header Description Content-Type Always application/json X-Signature Timestamped HMAC-SHA256 signature (format: t={timestamp},v1={signature} ) X-Webhook-Event The event type (e.g., quote.executed ) X-Webhook-ID The webhook configuration ID"
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/embed-webhook-events
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/quotes/{quote_id}:
    put:
      tags:
      - Quotes
      operationId: executeEmbedQuote
      summary: Execute Quote
      description: Executes a quote that was previously requested.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/execute-embed-quote
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '422':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: quote_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
    get:
      tags:
      - Quotes
      operationId: getEmbedQuote
      summary: Get Quote
      description: Gets the status of a quote that was previously requested.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/get-embed-quote
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: quote_id
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/assets/{asset}:
    get:
      tags:
      - Assets
      operationId: getEmbedAsset
      summary: Get Asset
      description: Get information about a specific asset.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/get-embed-asset
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: asset
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/custom-orders/{order_id}:
    get:
      tags:
      - Custom Orders
      operationId: getEmbedCustomOrder
      summary: Get Custom Order
      description: Get a single custom order by ID.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/get-embed-custom-order
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/custom-orders/{order_id}/history:
    get:
      tags:
      - Custom Orders
      operationId: getEmbedCustomOrderHistory
      summary: Get Custom Order History
      description: Get execution history for a single custom order.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/get-embed-custom-order-history
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/earn/{user}:
    get:
      tags:
      - Earn
      operationId: getEmbedEarnSummary
      summary: Get Earn Summary
      description: 'Get Earn summary of a user. Modifiers: user-preferred currency (quote). Response holds total amounts (all-time). For per-asset granularity, use GET /b2b/earn/assets . Depending on the reward asset and user-preferred currency, amounts in the response can be zero, eg. "0.00000000" BTC. It''s the caller''s responsibility to handle such cases, eg by showing amounts as "<0.000000001" or "~0".'
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/get-embed-earn-summary
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: user
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/portfolio/{user}/history:
    get:
      tags:
      - Portfolios
      operationId: getEmbedPortfolioHistory
      summary: Get Portfolio History
      description: 'Gets a portfolio''s historical balances and valuations over time. Pagination: A maximum of 365 data points are returned per request. If the requested date range would produce more than 365 data points, the response is truncated and a next_cursor is returned. Pass this cursor in a subsequent request to retrieve the next page. Repeat until next_cursor is absent. Important notes: If the start of the range of asset data points is null - then you didn''t have a balance in the asset. If it''s zero - then you may have had the asset in the past, but the balance in zero Balance for the last day shows up at UTC + 5h due to processing times.'
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/get-embed-portfolio-history
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: user
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/portfolio/{user}/summary:
    get:
      tags:
      - Portfolios
      operationId: getEmbedPortfolioSummary
      summary: Get Portfolio Summary
      description: Get the portfolio summary for a user.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/get-embed-portfolio-summary
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: user
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/quotes/limits:
    get:
      tags:
      - Quotes
      operationId: getEmbedQuoteLimits
      summary: Get Quote Limits
      description: Request minimum, maximum and precision for trade using a given asset pair
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/get-embed-quote-limits
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/reports/settlement/{id}:
    get:
      tags:
      - Reports
      operationId: getEmbedSettlementReport
      summary: Get Settlement Report
      description: Retrieves a settlement report and provides a secure download URL for the authenticated master user.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/get-embed-settlement-report
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/users/{user}:
    get:
      tags:
      - Users
      operationId: getEmbedUser
      summary: Get User
      description: Get a previously created user.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/get-embed-user
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: user
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
    patch:
      tags:
      - Users
      operationId: updateEmbedUser
      summary: Update User
      description: Update an existing user's profile.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/update-embed-user
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: user
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/assets/{asset}/rates:
    get:
      tags:
      - Assets
      operationId: listEmbedAssetRates
      summary: List Asset Rates
      description: Returns historical rates for a given asset. This endpoint returns historical rates for a given asset. The response includes the timestamp for the period the rate is for and the median price of the asset during the period (daily).
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-asset-rates
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: asset
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/assets:
    get:
      tags:
      - Assets
      operationId: listEmbedAssets
      summary: List Assets
      description: List all assets available on the platform. This endpoint returns a list of all assets available on the platform. The response includes the asset identifier, the type of the asset, and the status of the asset on the platform.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-assets
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/funds/deposits/methods/{asset}:
    get:
      tags:
      - Transfers
      operationId: listEmbedDepositMethods
      summary: List Deposit Methods
      description: List available deposit methods for a given asset. Returns method details including fees, limits, and network information.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-deposit-methods
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: asset
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/earn/assets:
    get:
      tags:
      - Earn
      operationId: listEmbedEarnAssets
      summary: List Earn Assets
      description: 'List Earn Assets. Filters: by asset/s, by user. Modifiers: user-preferred currency (quote). The user can optionally be passed in the request, which shows active asset allocations of the user in the response.'
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-earn-assets
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/funds/transactions:
    get:
      tags:
      - Transfers
      operationId: listEmbedFundingTransactions
      summary: List Funding Transactions
      description: List Funding transactions Funding transactions can be of type withdrawal or deposit. Currently, this is a master-only operation. Therefore, no User parameter exists.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-funding-transactions
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/portfolio/{user}/details:
    get:
      tags:
      - Portfolios
      operationId: listEmbedPortfolioDetails
      summary: List Portfolio Details
      description: Lists owned assets in a user's portfolio.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-portfolio-details
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: user
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/portfolio/{user}/transactions:
    get:
      tags:
      - Portfolios
      operationId: listEmbedPortfolioTransactions
      summary: List Portfolio Transactions
      description: Lists the users trades and transactions
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-portfolio-transactions
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: user
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/reports/settlement:
    get:
      tags:
      - Reports
      operationId: listEmbedSettlementReports
      summary: List Settlement Reports
      description: Retrieves a paginated list of settlement reports available to the authenticated master user, with optional filters for date range and report type.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-settlement-reports
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/quotes/assets:
    get:
      tags:
      - Quotes
      operationId: listEmbedTradableAssets
      summary: List Tradable Assets
      description: "Retrieve the list of tradable assets available for a specific user. This endpoint returns asset information including trading status, decimal precision, and any restrictions on trading pairs. Use this to determine which assets a user can trade or include in quote requests. Filtering by Tradable Status â\x80\x8B The tradable query parameter controls which assets are returned based on their trading status: Value Behavior true Only returns assets with tradable status false Only returns assets with disabled or soon status (omitted) Returns all assets regardless of status Asset Status Values â\x80\x8B Status Description tradable Asset is available for trading disabled Asset is currently disabled and cannot be traded soon Asset will be available for trading soon Disabled Against â\x80\x8B The disabled_against field lists assets that cannot be traded against this asset. For example, if BTC has disabled_against: [\"AED\", \"YB\"] , then BTC cannot be quoted against AED or YB."
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-tradable-assets
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/webhooks:
    get:
      tags:
      - Webhooks
      operationId: listEmbedWebhooks
      summary: List Webhooks
      description: 'Retrieve all webhooks registered for your domain. This endpoint returns the full webhook configuration including subscribed events and all available event types for each webhook. Note: The webhook secret is NOT included in this response. The secret is only returned once during registration and cannot be retrieved again.'
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-webhooks
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
    post:
      tags:
      - Webhooks
      operationId: registerEmbedWebhook
      summary: Register Webhook
      description: "Register a new webhook endpoint to receive event notifications from Payward Embed. When you register a webhook, you'll receive a secret in the response. This secret is base64-encoded and is used to verify webhook signatures. Store it securely â\x80\x94 it is only returned once and cannot be retrieved again. Before registering a webhook, make sure your callback domain has been allowlisted. You can optionally specify enabled and events at registration time, or configure them later using the Update Webhook endpoint. URL Requirements â\x80\x8B Must use HTTPS protocol Maximum length: 2048 characters Must be a valid URL format Must have a valid host (not empty) Host cannot be a protocol name (e.g., http , https , ftp , file , mailto , ssh , git , svn ) Path cannot start with // (indicates malformed URL) Cannot contain credentials (e.g., https://user:pass@example.com is rejected) Valid URL Examples â\x80\x8B https://example.com/webhook https://example.com:8443/webhook Invalid\
        \ URL Examples â\x80\x8B http://example.com/webhook (HTTP not allowed) https://https//example.com (malformed - host is \"https\") https://user:pass@example.com/webhook (credentials not allowed) invalid-url (not a valid URL)"
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/register-embed-webhook
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/funds/withdrawals/addresses:
    get:
      tags:
      - Transfers
      operationId: listEmbedWithdrawalAddresses
      summary: List Withdrawal Addresses
      description: List saved withdrawal addresses for the effective account. You can optionally filter by asset , method_id , and key .
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-withdrawal-addresses
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
    post:
      tags:
      - Transfers
      operationId: saveEmbedWithdrawalAddress
      summary: Save Withdrawal Address
      description: Validate and save a withdrawal address for future withdrawals. Returns the address key that should be used when calling POST /b2b/funds/withdrawals .
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/save-embed-withdrawal-address
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/funds/withdrawals/methods/{asset}:
    get:
      tags:
      - Transfers
      operationId: listEmbedWithdrawalMethods
      summary: List Withdrawal Methods
      description: List available withdrawal methods for a given asset. Returns withdrawal methods with networks, estimated fees, and limits. Use method_id and (optionally) fee_token to prepare withdrawals.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/list-embed-withdrawal-methods
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: asset
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/quotes/prospective:
    post:
      tags:
      - Quotes
      operationId: requestEmbedProspectiveQuote
      summary: Request Prospective Quote
      description: Request a prospective quote for an asset pair, to receive an indicative price and fee.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/request-embed-prospective-quote
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/quotes:
    post:
      tags:
      - Quotes
      operationId: requestEmbedQuote
      summary: Request Quote
      description: Request a price quote for an asset, that may be used to execute a trade later on.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/request-embed-quote
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/verifications/{user}:
    post:
      tags:
      - Verifications
      operationId: submitEmbedVerification
      summary: Submit Verification
      description: Submit a verification for a user with documents and details. A verification is defined as a check that has been performed on a user to verify information provided by the user. This is typically done by a third party, such as a company that specializes in identity verification. Checks are most commonly performed on documents provided by the user, such as a passport or driver's license, but can also include other types of checks such as a sanctions check or a Politically Exposed Person (PEP) check.
      x-kraken-source: https://docs.kraken.com/api/docs/embed-api/submit-embed-verification
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '400':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '401':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '403':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '404':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '408':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '409':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '429':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '500':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        '503':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      parameters:
      - name: user
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      security:
      - apiKeyAuth: []
        apiSignAuth: []
  /b2b/verifications/{user}/url:
    post:
      tags:
      - Verifications
      operationId: submitEmbedVerificationFromUrl
      summary: Submit Verification from URL
[...]
