openapi: 3.1.0
info:
  title: Coinbase Advanced Trade API
  description: |
    REST API for Coinbase Advanced Trade (CDP). Base URL: https://api.coinbase.com/api/v3/brokerage
    Authentication: JWT Bearer token (ES256) with `kid` = organizations/{orgId}/apiKeys/{keyId}
  version: v1
servers:
  - url: https://api.coinbase.com/api/v3/brokerage
    description: Production
  - url: https://api-sandbox.coinbase.com/api/v3/brokerage
    description: Sandbox

security:
  - JwtAuth: []

components:
  securitySchemes:
    JwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token (ES256). The JWT kid header must be the full API key resource name:
        organizations/{orgId}/apiKeys/{keyId}

  parameters:
    accountUuid:
      name: account_uuid
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Account UUID
    orderId:
      name: order_id
      in: path
      required: true
      schema:
        type: string
      description: Order ID
    portfolioId:
      name: portfolio_id
      in: path
      required: true
      schema:
        type: string
      description: Portfolio ID
    productId:
      name: product_id
      in: path
      required: true
      schema:
        type: string
      description: Product ID (e.g. BTC-USD)
    limitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 100
      description: Number of results per page
    cursorParam:
      name: cursor
      in: query
      schema:
        type: string
      description: Pagination cursor
    orderStatusParam:
      name: order_status
      in: query
      schema:
        type: array
        items:
          type: string
          enum: [OPEN, FILLED, CANCELED, EXPIRED, ALL]
      description: Filter by order status
    productIdQuery:
      name: product_id
      in: query
      schema:
        type: string
      description: Filter by product ID

  schemas:
    Money:
      type: object
      properties:
        value:
          type: string
          description: Decimal string representation
        currency:
          type: string
      required: [value, currency]

    Balance:
      type: object
      properties:
        value:
          type: string
        currency:
          type: string

    Account:
      type: object
      properties:
        uuid:
          type: string
        name:
          type: string
        currency:
          type: string
        available_balance:
          $ref: '#/components/schemas/Balance'
        hold:
          $ref: '#/components/schemas/Balance'
        type:
          type: string
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AccountsResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        has_next:
          type: boolean
        cursor:
          type: string
        size:
          type: integer

    OrderSide:
      type: string
      enum: [BUY, SELL]

    TimeInForce:
      type: string
      enum: [GTC, GTT, IOC, FOK]
      description: GoodTillCancel, GoodTillTime, ImmediateOrCancel, FillOrKill

    OrderType:
      type: string
      enum: [MARKET, LIMIT, STOP]

    OrderStatus:
      type: string
      enum: [OPEN, FILLED, CANCELED, EXPIRED, PENDING]

    OrderConfiguration:
      type: object
      discriminator:
        propertyName: order_type
      oneOf:
        - $ref: '#/components/schemas/MarketOrderConfiguration'
        - $ref: '#/components/schemas/LimitOrderConfiguration'
        - $ref: '#/components/schemas/StopOrderConfiguration'

    MarketOrderConfiguration:
      type: object
      properties:
        order_type:
          type: string
          const: MARKET
        market_market_ioc:
          type: object
          properties:
            base_size:
              type: string
            quote_size:
              type: string
        market_market_fok:
          type: object
          properties:
            base_size:
              type: string
            quote_size:
              type: string
        sor_limit_ioc:
          type: object
          properties:
            base_size:
              type: string
            quote_size:
              type: string
      required: [order_type]

    LimitOrderConfiguration:
      type: object
      properties:
        order_type:
          type: string
          const: LIMIT
        limit_limit_gtc:
          type: object
          properties:
            base_size:
              type: string
            limit_price:
              type: string
            post_only:
              type: boolean
        limit_limit_gtd:
          type: object
          properties:
            base_size:
              type: string
            limit_price:
              type: string
            end_time:
              type: string
              format: date-time
            post_only:
              type: boolean
      required: [order_type]

    StopOrderConfiguration:
      type: object
      properties:
        order_type:
          type: string
          const: STOP
        stop_limit_stop_limit:
          type: object
          properties:
            base_size:
              type: string
            limit_price:
              type: string
            stop_price:
              type: string
            stop_direction:
              type: string
              enum: [STOP_UP, STOP_DOWN]
      required: [order_type]

    CreateOrderRequest:
      type: object
      properties:
        client_order_id:
          type: string
          description: Client-provided order ID (UUID recommended)
        product_id:
          type: string
          description: Product ID (e.g. BTC-USD)
        side:
          $ref: '#/components/schemas/OrderSide'
        order_configuration:
          $ref: '#/components/schemas/OrderConfiguration'
        self_trade_prevention_id:
          type: string
        leverage:
          type: string
        margin_type:
          type: string
          enum: [CASH, CROSS, ISOLATED]
        retail_portfolio_id:
          type: string
      required: [product_id, side, order_configuration]

    Order:
      type: object
      properties:
        order_id:
          type: string
        client_order_id:
          type: string
        product_id:
          type: string
        side:
          $ref: '#/components/schemas/OrderSide'
        order_configuration:
          $ref: '#/components/schemas/OrderConfiguration'
        status:
          $ref: '#/components/schemas/OrderStatus'
        created_time:
          type: string
          format: date-time
        last_fill_time:
          type: string
          format: date-time
        average_filled_price:
          type: string
        filled_size:
          type: string
        num degenerate:
          type: integer

    CreateOrderResponse:
      type: object
      properties:
        order_id:
          type: string
        product_id:
          type: string
        side:
          $ref: '#/components/schemas/OrderSide'
        client_order_id:
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
        created_time:
          type: string
          format: date-time
        order_configuration:
          $ref: '#/components/schemas/OrderConfiguration'

    OrdersResponse:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        has_next:
          type: boolean
        cursor:
          type: string

    Fill:
      type: object
      properties:
        entry_id:
          type: string
        trade_id:
          type: string
        order_id:
          type: string
        product_id:
          type: string
        price:
          type: string
        size:
          type: string
        side:
          $ref: '#/components/schemas/OrderSide'
        time:
          type: string
          format: date-time

    FillsResponse:
      type: object
      properties:
        fills:
          type: array
          items:
            $ref: '#/components/schemas/Fill'
        has_next:
          type: boolean
        cursor:
          type: string

    Product:
      type: object
      properties:
        product_id:
          type: string
        display_name:
          type: string
        base_currency:
          type: string
        quote_currency:
          type: string
        status:
          type: string
        price:
          type: string
        volume_24h:
          type: string
        increment_min:
          type: string
        increment_size:
          type: string
        min_market_funds:
          type: string

    ProductsResponse:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        has_next:
          type: boolean
        cursor:
          type: string

    TransactionSummary:
      type: object
      properties:
        total_volume:
          type: number
        exchange_volume:
          type: number
        total_fees:
          type: number
        fee_tier:
          type: object
        margin_abilities:
          type: array

    ConvertQuoteRequest:
      type: object
      properties:
        from_account:
          type: string
        to_account:
          type: string
        amount:
          type: string
        product_id:
          type: string
      required: [from_account, to_account, amount, product_id]

    ConvertQuote:
      type: object
      properties:
        trade_id:
          type: string
        from_account:
          type: string
        to_account:
          type: string
        amount:
          type: string
        product_id:
          type: string
        custom_id:
          type: string
        estimated_price:
          type: string
        created_at:
          type: string
          format: date-time

    Portfolio:
      type: object
      properties:
        portfolio_id:
          type: string
        display_name:
          type: string
        created_at:
          type: string
          format: date-time

    PortfolioBreakdown:
      type: object
      properties:
        portfolio_id:
          type: string
        balances:
          type: array
          items:
            type: object
            properties:
              currency:
                type: string
              value:
                type: string
              balance:
                type: string

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        status:
          type: integer

  responses:
    AccountResponse:
      description: Account object
      content:
        application/json:
          schema:
            type: object
            properties:
              account:
                $ref: '#/components/schemas/Account'

    AccountsListResponse:
      description: List of accounts
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountsResponse'

    OrderResponse:
      description: Order object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateOrderResponse'

    OrdersListResponse:
      description: List of orders
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrdersResponse'

    FillsListResponse:
      description: List of fills
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FillsResponse'

    ProductsListResponse:
      description: List of products
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProductsResponse'

    ProductResponse:
      description: Product object
      content:
        application/json:
          schema:
            type: object
            properties:
              product:
                $ref: '#/components/schemas/Product'

    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  # ── ACCOUNTS ──────────────────────────────────────────────────────────────
  /accounts:
    get:
      operationId: listAccounts
      summary: List accounts
      security:
        - JwtAuth: []
      tags: [Accounts]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
        - name: retail_portfolio_id
          in: query
          schema:
            type: string
          description: Filter by retail portfolio ID
      responses:
        '200':
          $ref: '#/components/responses/AccountsListResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /accounts/{account_uuid}:
    get:
      operationId: getAccount
      summary: Get account
      security:
        - JwtAuth: []
      tags: [Accounts]
      parameters:
        - $ref: '#/components/parameters/accountUuid'
      responses:
        '200':
          $ref: '#/components/responses/AccountResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  # ── ORDERS ────────────────────────────────────────────────────────────────
  /orders:
    post:
      operationId: createOrder
      summary: Create order
      security:
        - JwtAuth: []
      tags: [Orders]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrderResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /orders/preview:
    post:
      operationId: previewOrder
      summary: Preview order
      security:
        - JwtAuth: []
      tags: [Orders]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: Order preview
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /orders/historical/batch:
    get:
      operationId: listOrders
      summary: List orders (historical)
      security:
        - JwtAuth: []
      tags: [Orders]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/orderStatusParam'
        - $ref: '#/components/parameters/productIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/OrdersListResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /orders/historical/{order_id}:
    get:
      operationId: getOrder
      summary: Get order
      security:
        - JwtAuth: []
      tags: [Orders]
      parameters:
        - $ref: '#/components/parameters/orderId'
      responses:
        '200':
          $ref: '#/components/responses/OrderResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /orders/batchcancel:
    post:
      operationId: cancelOrders
      summary: Batch cancel orders
      security:
        - JwtAuth: []
      tags: [Orders]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_ids:
                  type: array
                  items:
                    type: string
              required: [order_ids]
      responses:
        '200':
          description: Cancel response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        order_id:
                          type: string
                        success:
                          type: boolean
                        error:
                          type: string
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /orders/{order_id}/edit:
    post:
      operationId: editOrder
      summary: Edit order
      security:
        - JwtAuth: []
      tags: [Orders]
      parameters:
        - $ref: '#/components/parameters/orderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limit_price:
                  type: string
                size:
                  type: string
      responses:
        '200':
          description: Edit order response
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /orders/{order_id}/edit_preview:
    post:
      operationId: editOrderPreview
      summary: Preview edit order
      security:
        - JwtAuth: []
      tags: [Orders]
      parameters:
        - $ref: '#/components/parameters/orderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limit_price:
                  type: string
                size:
                  type: string
      responses:
        '200':
          description: Edit preview response
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

  # ── FILLS ────────────────────────────────────────────────────────────────
  /orders/historical/fills:
    get:
      operationId: listFills
      summary: List fills (order history)
      security:
        - JwtAuth: []
      tags: [Fills]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
        - name: order_id
          in: query
          schema:
            type: string
          description: Filter by order ID
        - $ref: '#/components/parameters/productIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/FillsListResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  # ── PRODUCTS ─────────────────────────────────────────────────────────────
  /products:
    get:
      operationId: listProducts
      summary: List products (authenticated)
      security:
        - JwtAuth: []
      tags: [Products]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/productIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/ProductsListResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /products/{product_id}:
    get:
      operationId: getProduct
      summary: Get product (authenticated)
      security:
        - JwtAuth: []
      tags: [Products]
      parameters:
        - $ref: '#/components/parameters/productId'
      responses:
        '200':
          $ref: '#/components/responses/ProductResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  # ── MARKET DATA (PUBLIC) ──────────────────────────────────────────────────
  /market/products:
    get:
      operationId: listPublicProducts
      summary: List products (public)
      security: []
      tags: [Market Data]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          $ref: '#/components/responses/ProductsListResponse'

  /market/products/{product_id}:
    get:
      operationId: getPublicProduct
      summary: Get product (public)
      security: []
      tags: [Market Data]
      parameters:
        - $ref: '#/components/parameters/productId'
      responses:
        '200':
          $ref: '#/components/responses/ProductResponse'

  /products/{product_id}/ticker:
    get:
      operationId: getMarketTrades
      summary: Get recent market trades
      security: []
      tags: [Market Data]
      parameters:
        - $ref: '#/components/parameters/productId'
      responses:
        '200':
          description: Recent trades
          content:
            application/json:
              schema:
                type: object
                properties:
                  trades:
                    type: array
                    items:
                      type: object
                      properties:
                        trade_id:
                          type: string
                        price:
                          type: string
                        size:
                          type: string
                        time:
                          type: string
                          format: date-time
                        side:
                          type: string

  /market/candles:
    get:
      operationId: getPublicCandles
      summary: Get OHLCV candle data
      security: []
      tags: [Market Data]
      parameters:
        - name: product_id
          in: query
          required: true
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          schema:
            type: string
            format: date-time
        - name: granularity
          in: query
          schema:
            type: string
            enum: [ONE_MINUTE, FIVE_MINUTE, FIFTEEN_MINUTE, ONE_HOUR, SIX_HOUR, ONE_DAY]
      responses:
        '200':
          description: Candle data
          content:
            application/json:
              schema:
                type: object
                properties:
                  candles:
                    type: array
                    items:
                      type: object
                      properties:
                        start:
                          type: string
                          format: date-time
                        low:
                          type: string
                        high:
                          type: string
                        open:
                          type: string
                        close:
                          type: string
                        volume:
                          type: string

  /product_book:
    get:
      operationId: getProductBook
      summary: Get order book
      security: []
      tags: [Market Data]
      parameters:
        - $ref: '#/components/parameters/productId'
        - name: depth
          in: query
          schema:
            type: integer
            default: 10
          description: Order book depth
      responses:
        '200':
          description: Order book
          content:
            application/json:
              schema:
                type: object
                properties:
                  bids:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                  asks:
                    type: array
                    items:
                      type: array
                      items:
                        type: string

  /time:
    get:
      operationId: getServerTime
      summary: Get API server time
      security: []
      tags: [Market Data]
      responses:
        '200':
          description: Server time
          content:
            application/json:
              schema:
                type: object
                properties:
                  iso:
                    type: string
                  epoch_seconds:
                    type: integer

  # ── CONVERT ──────────────────────────────────────────────────────────────
  /convert/quote:
    post:
      operationId: createConvertQuote
      summary: Create convert quote
      security:
        - JwtAuth: []
      tags: [Convert]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertQuoteRequest'
      responses:
        '200':
          description: Convert quote
          content:
            application/json:
              schema:
                type: object
                properties:
                  quote:
                    $ref: '#/components/schemas/ConvertQuote'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /convert/trade/{trade_id}:
    post:
      operationId: commitConvertTrade
      summary: Commit convert trade
      security:
        - JwtAuth: []
      tags: [Convert]
      parameters:
        - name: trade_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from_account:
                  type: string
                to_account:
                  type: string
              required: [from_account, to_account]
      responses:
        '200':
          description: Trade result
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

  # ── FEES ────────────────────────────────────────────────────────────────
  /transaction_summary:
    get:
      operationId: getTransactionSummary
      summary: Get transaction summary
      security:
        - JwtAuth: []
      tags: [Fees]
      responses:
        '200':
          description: Transaction summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionSummary'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  # ── PORTFOLIOS ──────────────────────────────────────────────────────────
  /portfolios:
    get:
      operationId: listPortfolios
      summary: List portfolios
      security:
        - JwtAuth: []
      tags: [Portfolios]
      responses:
        '200':
          description: Portfolios
          content:
            application/json:
              schema:
                type: object
                properties:
                  portfolios:
                    type: array
                    items:
                      $ref: '#/components/schemas/Portfolio'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /portfolios/{portfolio_id}:
    get:
      operationId: getPortfolio
      summary: Get portfolio
      security:
        - JwtAuth: []
      tags: [Portfolios]
      parameters:
        - $ref: '#/components/parameters/portfolioId'
      responses:
        '200':
          description: Portfolio
          content:
            application/json:
              schema:
                type: object
                properties:
                  portfolio:
                    $ref: '#/components/schemas/Portfolio'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /portfolios/{portfolio_id}/breakdown:
    get:
      operationId: getPortfolioBreakdown
      summary: Get portfolio breakdown
      security:
        - JwtAuth: []
      tags: [Portfolios]
      parameters:
        - $ref: '#/components/parameters/portfolioId'
      responses:
        '200':
          description: Portfolio breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  breakdown:
                    $ref: '#/components/schemas/PortfolioBreakdown'
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /portfolios/{portfolio_id}/move_funds:
    post:
      operationId: moveFunds
      summary: Move funds between portfolios
      security:
        - JwtAuth: []
      tags: [Portfolios]
      parameters:
        - $ref: '#/components/parameters/portfolioId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to_portfolio_id:
                  type: string
                currency:
                  type: string
                amount:
                  type: string
      responses:
        '200':
          description: Move funds result
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /portfolios/allocate:
    post:
      operationId: allocatePortfolio
      summary: Allocate portfolio
      security:
        - JwtAuth: []
      tags: [Portfolios]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                portfolio_id:
                  type: string
                allocations:
                  type: array
                  items:
                    type: object
                    properties:
                      product_id:
                        type: string
                      percentage:
                        type: number
      responses:
        '200':
          description: Allocation result
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

  # ── FUTURES (CFM) ────────────────────────────────────────────────────────
  /cfm/balance_summary:
    get:
      operationId: getFuturesBalanceSummary
      summary: Get futures balance summary
      security:
        - JwtAuth: []
      tags: [Futures]
      responses:
        '200':
          description: Balance summary
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /cfm/positions:
    get:
      operationId: listFuturesPositions
      summary: List futures positions
      security:
        - JwtAuth: []
      tags: [Futures]
      responses:
        '200':
          description: Positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  positions:
                    type: array
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /cfm/positions/{product_id}:
    get:
      operationId: getFuturesPosition
      summary: Get futures position
      security:
        - JwtAuth: []
      tags: [Futures]
      parameters:
        - $ref: '#/components/parameters/productId'
      responses:
        '200':
          description: Position
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /cfm/positions/close:
    post:
      operationId: closeFuturesPosition
      summary: Close futures position
      security:
        - JwtAuth: []
      tags: [Futures]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
      responses:
        '200':
          description: Close result
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /cfm/orders:
    get:
      operationId: listFuturesOrders
      summary: List futures orders
      security:
        - JwtAuth: []
      tags: [Futures]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Orders
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

    post:
      operationId: createFuturesOrder
      summary: Create futures order
      security:
        - JwtAuth: []
      tags: [Futures]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Order result
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

  /cfm/orders/{order_id}:
    delete:
      operationId: cancelFuturesOrder
      summary: Cancel futures order
      security:
        - JwtAuth: []
      tags: [Futures]
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cancel result
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/ErrorResponse'

tags:
  - name: Accounts
    description: Account management
  - name: Orders
    description: Order placement and management
  - name: Fills
    description: Order fill history
  - name: Products
    description: Product catalog
  - name: Market Data
    description: Public market data endpoints
  - name: Convert
    description: Crypto conversion
  - name: Fees
    description: Fee and transaction summary
  - name: Portfolios
    description: Portfolio management
  - name: Futures
    description: Coinbase Futures (CFM)