openapi: 3.1.0
info:
  title: Kraken Custody REST API
  version: current
  description: Conservative OpenAPI 3.1 spec built from Kraken API Center Custody REST endpoint pages. This captures documented endpoint surfaces, summaries, and response descriptions from the live docs.
servers:
  - url: https://api.kraken.com
    description: Kraken API host
tags:
  - name: Portfolios
    description: Portfolios endpoints.
  - name: Tasks
    description: Tasks endpoints.
  - name: Transfers
    description: Transfers endpoints.
paths:
  /0/private/DepositAddresses:
    post:
      tags:
        - Portfolios
      operationId: depositAddresses
      summary: Get deposit addresses
      description: Retrieve (or generate a new) deposit addresses for a particular asset and funding method. Use the Get Deposit Methods API to identify the appropriate deposit method.
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/deposit-addresses
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/DepositMethods:
    post:
      tags:
        - Portfolios
      operationId: depositMethods
      summary: Get deposit methods
      description: Retrieve the available deposit funding methods for depositing a specific asset. The deposit method is required to retrieve deposit addresses using the Get Deposit Addresses API .
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/deposit-methods
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/GetCustodyActivity:
    post:
      tags:
        - Tasks
      operationId: getCustodyActivity
      summary: Get activity by id
      description: Retrieve details for a specific task activity.
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/get-custody-activity
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/GetCustodyBalance:
    post:
      tags:
        - Portfolios
      operationId: getCustodyBalance
      summary: Get custody balance
      description: Retrieve the balance for each asset held in the specified vault.
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/get-custody-balance
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/GetCustodyTask:
    post:
      tags:
        - Tasks
      operationId: getCustodyTask
      summary: Get task by id
      description: Retrieve details for a specific task.
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/get-custody-task
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/GetCustodyTransaction:
    post:
      tags:
        - Portfolios
      operationId: getCustodyTransaction
      summary: Get transaction by id
      description: Get transaction by id
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/get-custody-transaction
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/GetCustodyVault:
    post:
      tags:
        - Portfolios
      operationId: getCustodyVault
      summary: Get vault information by id
      description: Retrieve information and balances for a specific vault.
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/get-custody-vault
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/ListCustodyTasks:
    post:
      tags:
        - Tasks
      operationId: listCustodyTasks
      summary: List tasks
      description: Retrieve review tasks that match the specified filter criteria.
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/list-custody-tasks
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/ListCustodyActivities:
    post:
      tags:
        - Tasks
      operationId: listCustodyTasksActivities
      summary: List activities
      description: Retrieve all activities that match the specified filter criteria.
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/list-custody-tasks-activities
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/ListCustodyTransactions:
    post:
      tags:
        - Portfolios
      operationId: listCustodyTransactions
      summary: List custody transactions
      description: Retrieve the transaction history for a specified vault.
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/list-custody-transactions
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/ListCustodyVaults:
    post:
      tags:
        - Portfolios
      operationId: listCustodyVaults
      summary: List vaults
      description: Retrieve all vaults within the custody domain.
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/list-custody-vaults
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/WithdrawAddresses:
    post:
      tags:
        - Transfers
      operationId: withdrawAddresses
      summary: Get withdraw addresses
      description: Retrieve a list of withdrawal addresses for a specified vault.
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/withdraw-addresses
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
  /0/private/WithdrawMethods:
    post:
      tags:
        - Transfers
      operationId: withdrawMethods
      summary: Get withdraw methods
      description: Retrieve a list of withdrawal methods available for a specified vault.
      x-kraken-source: https://docs.kraken.com/api/docs/custody-api/withdraw-methods
      responses:
        '200':
          description: See Kraken docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - apiKeyAuth: []
          apiSignAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: API-Key
    apiSignAuth:
      type: apiKey
      in: header
      name: API-Sign
x-trikeshed-context:
  client:
    - name: default
      key: borg.trikeshed.test.DefaultKey
      element: borg.trikeshed.test.DefaultElement
      open: borg.trikeshed.test.openDefaultElement
